<!DOCTYPE html>
<html> 
    <head>
        <title>Movie Finder</title>
        <link rel="stylesheet" href="../CSS/movie_finder.css">
    </head>
    <body>
        <div class="full-body">
            <div class="title">Movie Finder</div>
            <div class="search-box">
                <input placeholder="Search" type="text" class="form-input" id="search-input">
                <button class="search" id="clicked">Search</button>
            </div>    
        </div>
        <div class="movie-card"></div>
        <script src="../javascript/movie_finder.js"></script>
    </body>
</html>